<div  class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">Update Peek Platform</div>
    <div class="panel-body" [hidden]="serverRestarting">

        <p>Update the Peek Platform software with a newer release from
            Synerty</p>

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            Ensure you have taken a backup of the Peek server before
            performing any of the following operations.
        </div>

        <div  class="panel panel-warning my-drop-zone"
              ng2FileDrop
                [hidden]="!uploadEnabled()"
             [class.panel-success]="hasBaseDropZoneOver"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader">

             <!--[(ngModel)]="files"-->
             <!--ngf-multiple="false"-->
             <!--ngf-allow-dir="false"-->
             <!--ngf-drop="upload($files, $event, $rejectedFiles)"-->
             <!--accept="'*.tar.bz2'"-->

            <div class="panel-heading">
                <h3>
                    <span class="glyphicon glyphicon-flash"></span>
                    <small [hidden]="progressPercentage">
                        Drop Peek Platform Release Here
                    </small>
                    <small [hidden]="!progressPercentage">
                        Uploading, {{progressPercentage}}% done.
                    </small>
                </h3>

            </div>
        </div>

        <div [hidden]="licenced" class="panel panel-danger">
            <div class="panel-heading">
                <h3>
                    <small>
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Updates disabled.
                        Support period has ended, Please renew the Peek license.
                    </small>
                </h3>

            </div>
        </div>
    </div>

</div>


<table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                    <td>
                        RESPONSE : {{item._xhr?.responseText}}<br/>
                        RESPONSE : {{item._xhr?.status}}<br/>
                    </td>
                </tr>
                </tbody>
            </table>
